#box {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100px;
  min-height: 50px;
  background: black;
  line-height: 50px;
  text-align: center;
  // animation: chageBig 0.5s;
  // transform: translate(-50%, -50%);
}

@keyframes chageBig {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
