.one {
  height: 500px;
  background: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  .avatar {
    width: 200px;
    height: 200px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100px;
      &:hover {
        animation: move 1s;
      }
    }
  }
}

.two {
  margin-top: 30px;

}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
